.centro {
    width: 300px;
    height: 300px;
}


.centros {
    width: 80vh;
    height: 80vh;

}
.sobre {
    color: darkblue;
    background-color: #6ba7ff;
}
 .letra{
         font-family: "Comic Sans MS";

 }

.card-title {
    font-family: "Comic Sans MS";

}
.img4  {
    width:  220px;
    height: 225px;
}
.card-text {
    font-size: 20px;
    font-family: "Comic Sans MS";
}

.img3 {
   width: 130px;
    height: 130px;
}

.meu_icone:hover {
    color: blue;
}

.fundo {
    background-color: #bbd0fd;
}